body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

header {
    background-color: #3c4040;
    color: rgb(120, 103, 219);
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(86, 63, 180, 0.2);
    border: 2px solid rgb(32, 24, 24);
    border-radius: 12px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.typewriter-text {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 4px;
    font-size: 28px; /* Adjust font size for better responsiveness */
    animation: typing 3s steps(30, end) infinite;
    color: rgba(250, 250, 250, 0.5); /* Adjust text color for visibility */
}

.cta {
    padding: 40px 0;
}

.cta h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgba(250, 250, 250, 0.5);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cta p {
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(247, 249, 249, 0.5);
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 5px;
    background-color: rgba(37, 19, 19, 0.5);
    color: rgba(239, 238, 238, 0.941);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border: 0.6px solid rgb(50, 30, 30);
    cursor: pointer;
}

.button:hover {
    background-color: #231c1c;
    transform: scale(1.05);
}
.social-media i {
    font-size: 30px;
    padding: 8px;
    margin-top: 70px;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

.social-media i:hover {
    transform: scale(1.1);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    /* Adjust styles for screens up to 768px wide */
    header{
        background-color: #3c4040;
        color: rgb(125, 113, 191);
        padding: 8px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 4px rgba(86, 63, 180, 0.2);
        border: 2px solid rgb(32, 24, 24);
        border-radius: 12px;
    }
    header h1 {
        font-size: 32px; /* Decrease font size for h1 */
    }

    .cta h2 {
        font-size: 24px; /* Decrease font size for h2 */
    }

    .cta p {
        font-size: 16px; /* Decrease font size for p */
    }
}

@media screen and (max-width: 480px) {
    /* Adjust styles for screens up to 480px wide (e.g., smartphones) */
    .container{
        padding: 10px;
    }
    header h1 {
        font-size: 28px;
    }

    .cta h2 {
        font-size: 20px; /* Decrease font size for h2 */
    }

    .cta p {
        font-size: 14px; /* Decrease font size for p */
    }
}